[v-cloak] {
  display: none;
}

/*********************
 * BUTTONS
 *********************/

.btn {
  @apply inline-flex py-1 px-5 items-center cursor-pointer relative;
  background: hsla(215, 27%, 20%, 0.15);
  border:     1px solid hsla(215, 27%, 20%, 0.7);
  box-shadow: 1px 1px 1px 0px hsla(215, 27%, 22%, 1);
  transition: all 0.3s ease;
  outline: none !important;
}
.btn:hover {
  @apply no-underline;
  background: hsla(215, 27%, 20%, 0.7);
}
.btn:active {
  top: 2px;
}

/*********************
 * MESSAGE BOXES
 *********************/

.error-box {
  @apply bg-red-700 border border-red-800 px-3 py-2 text-white;
}

.success-box {
  @apply bg-highlight-400 border border-highlight-700 px-3 py-2;
}

/*********************
 * CONTENT GRID
 *********************/

.content-header {
  grid-area: content-header;
}

.content-body {
  grid-area: content-body;
}

.grid-container-content {
  display:               grid;
  min-width:             900px;
  height:                100%;
  grid-template-areas:   'content-header .' 'content-body content-body';
  grid-gap:              0px;
  grid-template-columns: 1fr auto;
}
