
.btn {
  @apply inline-flex py-1 px-5 items-center cursor-pointer relative;
  background: hsla(215, 27%, 20%, 0.15);
  border:     1px solid hsla(215, 27%, 20%, 0.7);
  box-shadow: 1px 1px 1px 0px hsla(215, 27%, 22%, 1);
  transition: all 0.3s ease;
  outline: none !important;
}
.btn:hover {
  @apply no-underline;
  background: hsla(215, 27%, 20%, 0.7);
}
.btn:active {
  top: 2px;
}

