.theme-light {
  --background-body:        #edf2f7;
  --color-text-primary:     #2d3748;
  --color-text-on-bg-light: #2d3748;

  /** GENERAL COLORS **/
  --color-highlight-100:    #fffaf0;
  /*--color-highlight-200: #feebc8;*/
  /*--color-highlight-300: #fbd38d;*/
  --color-highlight-400:    rgba(246, 173, 85, 0.4);
  /*--color-highlight-500: #ed8936;*/
  /*--color-highlight-600: #dd6b20;*/
  --color-highlight-700:    #f6ad55;
  /*--color-highlight-800: #9c4221;*/
  /*--color-highlight-900: #7b341e;*/

  --color-light-100:        #ffffff;
  --color-light-200:        #edf2f7;

  --color-dark-400:         hsl(218, 15%, 45%);
  --color-dark-500:         hsl(218, 17%, 35%);
  --color-dark-600:         hsl(218, 23%, 23%);
}
